<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130199478645-vj3lk0ah2af5c0cfp07p2vvajicof5iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130199478645-vj3lk0ah2af5c0cfp07p2vvajicof5iq</string>
	<key>API_KEY</key>
	<string>AIzaSyBTr_wmPJCAzZYr8ndSrIHP4EZ6Wj0gGzA</string>
	<key>GCM_SENDER_ID</key>
	<string>130199478645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungmobile</string>
	<key>PROJECT_ID</key>
	<string>ungmobile-54bdb</string>
	<key>STORAGE_BUCKET</key>
	<string>ungmobile-54bdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130199478645:ios:a89fc472f2f5db5396f33c</string>
</dict>
</plist>